html {
     font-size: 62.5% !important;
    color: #02203c;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

.blurred {
    filter: blur(2px);
}

button {

    transition: all .2s ease-in-out;
    color: #ffffff;
    background-color: #626ee3;
    padding: 1rem;
    margin-right: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    opacity: 0.8;
    border-radius: 4px;
    border: none;
    font-weight: bold;

}

button:hover { opacity: 1 }


.heading {
     font-size: 2.2rem;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
  button {
    font-size: 1rem;
  }
}
.testSection {
    padding: 2rem;
    background: linear-gradient(-90deg,#02203c,#001528);
    margin-top: 2rem;
    color: #ffffff;

}

@media only screen and (max-width: 870px) {
  .testSection {
    text-align:center;
  }
}

.header {
    text-align: center;
    padding: 4rem;
    font-size: 2.2rem;
    line-hight: 1.7;


}

#bigHeading {
    font-size: 3.8rem;
    text-decoration: underline;

}

.inputTestField {
    display: block;
    margin: 1rem 0 2rem 0;

}

.form {
    display: flex;
    padding: 2rem;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 70vw;
    position: relative;
}





