.testContainer {
    text-align: center;
    padding: 0;
    background-color: rgba(249, 186, 25, 1);
    margin: 15px;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

li {
    padding: 15px;
    list-style: none;
}

.testTitle {
    font-size: 1.5em;
}
